{% extends 'base.html.twig' %}

{% block title %}Formulario De Contacto{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Formulario de Contacto</h1>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
</div>
{% endblock %}
