<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        	<title>{% block title %}Blog!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/estilos.css')}}">
        {% endblock %}
    </head>
    <body>
    	{% block header%}
    	<div id="header">
    		<center><h1> Aplyca Tecnologia</h1></center>
    		<ul id="menu">
    			{% if app.user %}
				<li>
    					<a href="{{ path ('post')}}">Mis Entradas</a>
    			</li>
				<li>
    					<a href="{{ path ('post_creation')}}">Nueva Entrada</a>
    			</li>
				<li class="right">
    					<a href="">{{ app.user.nombre ~' '~app.user.apellidos }}</a>
    			</li>
				<li class="right">
    					<a href="{{ path ('logout')}}">Cerrar Sesion</a>
    			</li>
    				
    			{% else %}
					<li>
							<a href="{{ path ('post_home')}}">Home</a>
					</li>
					<li>
							<a href="{{ path ('post_blog')}}">Blog</a>
					</li>
					<li>
							<a href="{{ path ('register')}}">Registro</a>
					</li>
					<li>
							<a href="{{ path ('login')}}">Login</a>
					</li>
					<li>
							<a href="{{ path ('contacto')}}">Contacto</a>
					</li>
    			{% endif %}
    		</ul>
    	</div>
    	<div class="clearfix"></div>
    		
    	{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
