{% extends 'base.html.twig' %}

{% block title %} Blog {% endblock %}

{% block body %}


<div class="example-wrapper">
    <h2> Publicaciones </h2>
    <table>
        <tr>
            <th>Titulo</th>
            <th>Imagen</th>
            <th>Contenido</th>
            <th>Autor</th>
            <th>fecha de creacion</th>
        </tr>
        {% for posts in mypost %}
        <tr>
            <td>{{posts.titulo}}</td>
            <td>{{posts.foto}}</td>
            <td>{{posts.contenido}}</td>
            <td>
             {{posts.createAt|date('d/m/Y h:i')}}
            </td>
            
        </tr>
        {% endfor %}
    </table>
 
</div>
{% endblock %}
