{% extends 'base.html.twig' %}

{% block title %}Detalle de la Entrada {% endblock %}

{% block body %}


<div class="example-wrapper">
    <h2>{{post.titulo}}</h2>
    <p>

        {{post.foto}}
    </p>
    <p>
        {{post.contenido}}
        {{post.user.nombre}}
        {{post.user.apellidos}}
        {{post.user.createAt|date('d/m/Y h:i')}}
    </p>
    

    
</div>
{% endblock %}
