{% extends 'base.html.twig' %}

{% block title %}Actulizar Entrada {% endblock %}

{% block body %}


<div class="example-wrapper">
    <h2>Crear Entrada</h2>
     {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
    
    
</div>
{% endblock %}
