{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}


<div class="example-wrapper">
    <center><h2> Bienvenidos Blog Aplyca </h2></center>
    <p>
        Aplyca es una empresa de consultoría y servicios profesionales en tecnologías de información en dos grandes áreas: desarrollo ágil de software e infraestructura de alto rendimiento. Nuestro trabajo se combina para apoyar una transformación de las organizaciones usando tecnología.
    </p>
    
 
</div>
{% endblock %}
