{% extends 'base.html.twig' %}

{% block title %} ENTRADAS DEL BLOG {% endblock %}

{% block body %}


<div class="example-wrapper">
    <h2> Entradas</h2>
    <table>
        <tr>
            <th>Titulo</th>
            <th>Imagen</th>
            <th>Contenido</th>
            <th>Acciones</th>
        </tr>
        {% for posts in post %}
        <tr>
            <td>{{posts.titulo}}</td>
            <td>{{posts.foto}}</td>
            <td>{{posts.contenido}}</td>
            <td class="buttons">
                <a href="{{ path ('post_detail',{'id':posts.id})}}"class="btn-show">Ver</a>
                <a href="{{ path ('post_edit',{'id':posts.id})}}"class="btn-edit">Editar</a>
                <a href=""class="btn-delete">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
 
</div>
{% endblock %}
