{% extends 'base.html.twig' %}

{% block title %}Login de Usuarios{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h3>Login de Usuarios</h3>
	{% if error %}
		<div class=" error alert-error">
		{{error.messagekey|trans(error.messageData, 'security')}}
		</div>
		{% endif %}
		<!--{% if app.user %}
			{{dump(app.user)}}
		{% endif %}-->

    	<form action="{{ path('login')}}" method="POST"> 
    						<label for="username">Email:</label>
    						<input type="email" id="username" name="_username" value="{{ last_username }}" />
    						<label for="password">Contraseña:</label>
    						<input type="password" id="password" name="_password" />
    						<div class="clearfix"></div>
    						<input type="submit" value="Entrar"/>
    	</form>
</div>
{% endblock %}